{% extends '/app/layout.html' %}

{% block pageinner%}
    <!--Icon start-->
    <div class="icon">
        <div class="icon-inner">
            {% for row in allicons %}
            <div class="icon-main">
                <div class="hexagon"><i class="fas fa-magic"></i></div>
                <h4>{{row.title}}</h4>
                <p>{{row.text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Icon end-->


    <!--Order Start-->
        <div class="order">
            <div class="order-inner">
                <div class="order-main">
                    {% for row in alldatas%}
                    <h1>{{row.title}}</h1>
                    <p>{{row.text}}</p>
                    
                    {% endfor%}
                </div>
                <div class="order-main2">
                    <form action="#" class="order-request">
                        <h4>Onlayn müraciət</h4>
                        <input type="text" placeholder="Mövzular">
                        <input type="text" placeholder="Ad soyad">
                        <input type="text" placeholder="+994(00)0000000">
                        <input type="email" placeholder="Elektron poctuvuz">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <button href="#" type="button">Göndər</button>
                    </form>
                </div>
            </div>   
        </div>
        <!--Order end-->
    
    <!--Servis Start
    <div class="servis">
        <h1>Our Capturing Market Sectors</h1>
        <div class="servis-main">
            <div class="servis-inner1">
                <img src="img/s1.jpg" alt="">
                <h4>Automotive</h4>
                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct. </p>
            </div>
            <div class="servis-inner1">
                <img src="img/s2.jpg" alt="">
                <h4>Elektronika</h4>
                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct. </p>
            </div>
            <div class="servis-inner1">
                <img src="img/s3.jpg" alt="">
                <h4>Mexanika</h4>
                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct. </p>
            </div>
        </div>
    </div>
    Servis End-->


    <!--Projects Start-->
    <div class="project">
        <div class="project-head"><h1>Müxtəlif Layihələr</h1></div>
        <div class="project-img">
            <div class="project-img1">
                <img src="../../static/app/img/p1.jpg" alt="">
            </div>
            <div class="project-img2">
                <img src="../../static/app/img/p2.jpg" alt="">
            </div>             
        </div>
        <div class="project-img-second">
            <div class="project-img3">
                <img src="../../static/app/img/p3.jpg" alt="">
            </div>
            <div class="project-img4">
                <img src="../../static/app/img/p4.jpg" alt="">
            </div>
        </div>
    </div>
    <!--Projects End-->

{% endblock pageinner%}