{% extends '/app/layout.html' %}

{% block pageinner%}


    <!--Main start-->
    <div class="main">
        <div class="map" style="margin:0 auto; width: 1104px;"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3121656.012188483!2d47.75453!3d40.1758585!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2s!4v1592256399032!5m2!1str!2s" width="1140" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>

        <div class="contact">
            <div class="contact-main">
                <div class="address">
                    <div class="contact-address">
                        <i class="fas fa-home icon-size"></i>
                        <div class="contact-address-main">
                            <h5>Dhaka, Bangladesh</h5>
                            <p>56/8, West Panthapath</p>
                        </div>
                    </div>
                    <div class="contact-address">
                        <i class="fas fa-phone icon-size"></i>
                        <div class="contact-address-main">
                            <h5>00 (880) 9865 562</h5>
                            <p>Mon to Fri 9am to 6 pm</p>
                        </div>
                    </div>
                    <div class="contact-address">
                        <i class="far fa-envelope icon-size"></i>
                        <div class="contact-address-main">
                            <h5>support@codethemes.com</h5>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
                <div class="address-general">
                    <div class="address-input">
                        <input type="text" placeholder="Adiniz">
                        <input type="text" placeholder="Mailiniz">
                        <input type="text" placeholder="Movzu">
                    </div>
                    <div class="address-message">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Mesajiniz"></textarea>
                        <button>Gonder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Main end-->

{% endblock pageinner%}
     
