{% extends 'admin/base.html' %}

{%block pagetitle%}<h4 class="page-title">Layihələr</h4> {% endblock pagetitle %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Layihələr bölməsi</h4>
                

                <table id="child_rows" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Başlıq</th>
                            <th>Kateqoriya</th>
                            <th>Mətn</th>
                            <th>Şəkil</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for row in alldata %}
                <tbody>
                    <tr>
                        <th>{{row.id}}</th>
                        <th>{{row.title}}</th>
                        <th>{{row.category}}</th>
                        <th>{{row.text}}</th>
                        <th><img style="height: 60px; width:60px" src="../../static/{{row.photoURL}}" alt=""></th>
                        <th>
                            <a href="/projects/update/{{row.id}}" class="btn btn-warning btn-xs" type="button" data-toggle="modal" data-target="#modaledit{{row.id}}">Yenilə</a>
                            <a href="/projects/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Sil</a>
                        </th>
                    </tr>
                </tbody>

                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                  
                  
                       <div class="modal-content">
                  
                  
                          <div class="modal-header">
                  
                  
                             <h4 class="modal-title">Məlumatı yenilə</h4>
                  
                  
                          </div>
                  
                  
                          <div class="modal-body">
                  
                  
                             <form action="{{url_for('updateproject')}}" method="POST" enctype="multipart/form-data">
                  
                  
                                <div class="form-group">
                  
                  
                                   <label>Başlıq:</label>
                                    
                                   <input type="hidden"  name="id" value="{{row.id}}">
                                   <input type="text" class="form-control" name="title" value="{{row.title}}">
                  
                  
                                </div>
                  
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Kateqoriya</label>
                                    <input type="text" name="category" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="{{row.category}}">
                                </div>
                  
                                <div class="form-group">
                  
                  
                                   <label>Mətn:</label>
                  
                                   <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3" >{{row.text}}</textarea>
                  
                  
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlFile1">Şəkili yüklə</label>
                                    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>
                  
                  
                                
                  
                  
                                <div class="form-group">
                  
                  
                                   <button class="btn btn-primary" type="submit">Yenilə</button>
                  
                  
                                </div>
                  
                  
                             </form>
                  
                  
                          </div>
                  
                  
                          <div class="modal-footer">
                  
                  
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                  
                  
                          </div>
                  
                  
                       </div>
                  
                  
                    </div>
                  
                 </div>
                {% endfor %}
                </table>  
                <a type="button"  class="btn btn-success float-right" href="/projects/single" data-toggle="modal" data-target="#mymodal">Yenisin əlavə et</a> </h2>      
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->




 <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
  
             <h4 class="modal-title">əlavə et</h4>
          </div>
          <div class="modal-body">
  
             <form action="{{url_for('addproject')}}" method="POST" enctype="multipart/form-data">
  
  
                <div class="form-group">
  
                   <label>Başlıq:</label>
                   <input type="text" class="form-control" name="title" required="1">
  
  
                </div>
                

                <div class="form-group">
                    <label for="exampleFormControlInput1">Kateqoriya</label>
                    <input type="text" name="category" class="form-control" id="exampleFormControlInput1" >
                </div>
  
                 <div class="form-group">
  
  
                   <label>Mətn:</label>
  
                   <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
  
  
                </div>

                <div class="form-group">
                    <label for="exampleFormControlFile1">Şəkili yüklə</label>
                    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
  
  
                 
  
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Əlavə et</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
  
  
          </div>
  
  
       </div>
  
  
    </div>
  
  
 </div>

{% endblock content %}